<div class="ui nobottommargin segment">
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <div class="ui secondary pointing menu">
        <a class="active blue item">
          <div class="column"><i class="home icon"></i>bMalum</div></a>
        <a class="item">
          <div class="column"><i class="idea icon"></i>Blog</div></a>
      </div>
      <h1>bMalum - IT-Solutions</h1>
      <p>IT's my Business</p>
      <div class="ui tall stacked segment">
        <p>This WebPage is not finished yet</p>
        <div class="ui progress green" data-percent="13" id="webpageprogress">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label">
            I'm working hard to get everything finished
          </div>
        </div>
      </div>
      <div class="ui vertical segment">
        <div class="ui segment">
          <div class="ui three column center aligned stackable divided grid">
            <div class="column">
              <div class="ui hoizontal segmant">
                <div class="ui icon header">
                  <i class="cubes icon"></i>
                  Services
                </div>
                <p>Take a look, what we can provide for you and your Company. 
  			  			Hosting, Backup Storage, Fileserving and much much more. Privacy guaranteed.
                  <div class="ui blue button">More Information</div></p>
              </div>
            </div>
            <div class="column">
              <div class="ui hoizontal segmant">
                <div class="ui icon header">
                  <i class="code icon"></i>
                  Development
                </div>
                <p>
                  We can develop your Ideas for different Platforms. From a small Desktop Application to CloudApplication including a SmartPhone App. We can make IT.
                  <div class="ui blue button">More Information</div></p>
              </div>
            </div>
            <div class="column">
              <div class="ui hoizontal segmant">
                <div class="ui icon header">
                  <i class="users icon"></i>
                  Consulting
                </div>
                <p>
                  New Hardware needed? Something not working well or as aspected? Is it all Greek to you? We can help you and build a Layer between Customer and IT-Marketing Manager.
                  <div class="ui blue button">More Information</div></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Headline -->
      <div class="ui stacked centered segment">
        <div class="ui grid">
          <div class="three wide column"></div>
          <div class="ten wide column">
            <h1 class="centered">
              What we can offer:
            </h1>
            <div class="ui divided list">
              <div class="item">
                <i class="map marker icon"></i>
                <div class="content">
                  <a class="header">Krowlewskie Jadlo</a>
                  <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                </div>
              </div>
              <div class="item">
                <i class="map marker icon"></i>
                <div class="content">
                  <a class="header">Xian Famous Foods</a>
                  <div class="description">A taste of Shaanxi's delicious culinary traditions, with delights like spicy cold noodles and lamb burgers.</div>
                </div>
              </div>
              <div class="item">
                <i class="map marker icon"></i>
                <div class="content">
                  <a class="header">Sapporo Haru</a>
                  <div class="description">Greenpoint's best choice for quick and delicious sushi.</div>
                </div>
              </div>
              <div class="item">
                <i class="map marker icon"></i>
                <div class="content">
                  <a class="header">Enid's</a>
                  <div class="description">At night a bar, during the day a delicious brunch spot.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide column"></div>
      </div>
      <!-- fourteen wide column -->
    </div>
  </div>
</div>
<!-- UI Segment -->
<!-- Footer -->
<div class="ui inverted footer vertical segment">
  <div class="ui stackable center aligned page grid">
    <div class="ten wide column">
      <div class="ui three column center aligned stackable grid">
        <div class="column">
          <h5 class="ui inverted header">References</h5>
          <div class="ui inverted link list">
            <a class="item" href="http://apl-apparatebau.com">
              APL-Apparatebau</a>
            <a class="item" href="https://www.youtube.com/watch?v=K8E_zMLCRNg">
              MP-Consulting</a>
            <a class="item" href="http://ingrid-partl.com">
              Ingrid Partl</a>
            <a class="item" href="http://edv-systeme.at">
              K&M Edvsysteme</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">Social Stuff</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://twitter.com/bmalum_">
              <i class="twitter icon"></i>Twitter</a>
            <a class="item" href="https://github.com/bmalum">
              <i class="github icon"></i>GitHub</a>
            <a class="item" href="https://stackexchange.com/users/3555847/bmalum">
              <i class="stack overflow icon"></i>StackExchange</a>
            <a class="item" href="https://keybase.io/bmalum">
              <i class="lock icon"></i>KeyBase.io</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">QuickLinks</h5>
          <div class="ui inverted link list">
            <a class="item disabled">
              Projects</a>
            <a class="item disabled">
              Blog</a>
            <a class="item disabled">
              Server-Status</a>
            <a class="item disabled">
              Support-Form</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <h5 class="ui inverted header">Contact Us</h5>
      <addr>
        Hidden Address
        <br>
        Tyrol , Austria
        <br>
      </addr>
      <p>support@bmalum.com</p>
      <a class="item">
        Impressum</a>
    </div>
  </div>
  
  <script type="text/javascript">
    //<![CDATA[
        $('#webpageprogress').progress();
                //]]>
  </script>
