<h1>Editing user</h1>
<%= render 'form' %>
<div class="ui one column grid">
	<div class="three wide  right floated column">
		<div class="ui buttons">
			<div class="ui green button"><%= link_to 'Show', @user %></div>
			<div class="or"></div>
			<div class="ui button"><%= link_to 'Back', users_path %></div>
		</div>
	</div>
</div>